// Use this file to store all of the private credentials 
// and connection details

#define STASSID "MySSID"    // replace MySSID with your WiFi network name
#define STAPSK "MyPassword"  // replace MyPassword with your WiFi password

#define channelID 1234567     // replace 1234567 with your channel number
#define apiKey "xxxxxxxxxxxxxxxx"   // replace xxxxxxxxxxxxxxxx with your channel write API Key
